# Dependências
node_modules/

# Variáveis de ambiente (Segurança)
.env
.env.*
!.env.example

# Código gerado pelo Prisma (Ótima escolha colocar!)
/src/generated/prisma

# Pasta de compilação do TypeScript (Build de produção)
dist/
build/

# Logs do Node e do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db